<style>
  body { background-color: #e4e4e4; }
  input[type='text'],input[type='password'] { font-size: 24px; }
  .alert {color: red;}
  .notice {color: green;}
</style>

<div class="login_container">
  <div class="curved drop-shadow">
    <% form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
      <p style="text-align:center;margin-bottom:15px"><img src='/images/logo.jpg' title='Digital Footsteps' alt='Digital Footsteps'/></p>

      <p><%= f.error_messages %></p>
      <p class="notice"><%= flash[:notice] %></p>
      <p class="alert"><%= flash[:alert] %></p>
      <p><%= f.label :login %></p>
      <p><%= f.text_field :login %></p>

      <p><%= f.label :password %></p>
      <p><%= f.password_field :password %></p>

      <% if devise_mapping.rememberable? -%>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end -%>

      <p><%= f.submit "Sign in" %></p>
    <% end -%>

    <%= render :partial => "shared/devise_links" %>
  </div>
</div>
