#edit-password.x-hidden
  - remote_form_for(current_user) do |f|
    %div
      = f.label :current_password
      %br
      = f.password_field :current_password
    %div
      = f.label :password
      %br
      = f.password_field :password
    %div
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation
:javascript
  Ext.onReady(function() {
    editUserPassword = new Ext.Window({
      title: 'Edit user password',
      closable:true,
      resizeable: false,
      width: 300,
      height: 200,
      layout: 'fit',
      plain: true,
      bodyStyle:'padding:5px;',
      autoScroll: true,
      contentEl: 'edit-password',
      hidden: true,
      modal: true,
      closeAction: 'hide',
      bodyCfg: {
        cls: 'window-background'
      },
      fbar: [{
        text: 'Cancel',
        handler: function(){editUserPassword.hide();}
      },{
        text: 'Ok',
        handler: function(){$("#edit_user_1").submit();}
      }]
    });
  });